@media screen and (max-width: 1100px) {
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
    }
}

@media screen and (max-width: 800px) {
    .heading-text{
        font-size: 3rem;
    }
    [alt="illustration"]{
        width: auto;
    }
}